<h1>Order ID <%= @order.id %></h1>
<!-- <ul>
    <% @order.orderitems.each do |orderitem| %>
    <li><%= orderitem.order_id %> </li>
    <li><%= orderitem.item.name %> </li>
    <li><%= orderitem.selling_quantity %> </li>
    <li><%= orderitem.selling_price %> </li>

    <% end %>

</ul> -->


<div class="container">
	<div class="row">
    <div class="col-xs-2">
    </div>
		<div class="col-xs-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-6">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
							</div>
							<div class="col-xs-6">
                  <%= link_to "Continue Shopping", items_path, class:"glyphicon glyphicon-share-alt btn btn-primary btn-sm btn-block" %>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
          <% @order.orderitems.each do |orderitem| %>
					<div class="row">
						<div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
						</div>
						<div class="col-xs-4">
							<h4 class="product-name"><strong><%= orderitem.item.name %></strong></h4><h4><small>Product description</small></h4>
						</div>
						<div class="col-xs-6">
							<div class="col-xs-6 text-right">
								<h6><strong>$<%= orderitem.selling_price %>  <span class="text-muted">x</span></strong></h6>
							</div>
							<div class="col-xs-4">
                <!-- <%= orderitem.selling_quantity %> -->
								<input type="text" class="form-control input-sm" value="<%= orderitem.selling_quantity %>">
							</div>
							<div class="col-xs-2">
								<button type="button" class="btn btn-link btn-xs">
									<span class="glyphicon glyphicon-trash"> </span>
								</button>
							</div>
						</div>
					</div>

					<hr>
          <% end %>
					<div class="row">
						<div class="text-center">
							<div class="col-xs-9">
								<h6 class="text-right">Edit items?</h6>
							</div>
							<div class="col-xs-3">
								<button type="button" class="btn btn-default btn-sm btn-block">
									Update cart
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-xs-9">
							<h4 class="text-right">Total <strong>$50.00</strong></h4>
						</div>
						<div class="col-xs-3">
								<%= link_to "Checkout", checkout_path, class:"btn btn-success btn-block" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
